This is HomePage

<% if user_signed_in? %>
    <p> Current User: <%= current_user.email %></p>
    <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, data: {confirm: "Log Out?"}, :class => "btn btn-danger" %>
<% else %>
    <%= link_to 'LOG IN', new_user_session_path, method: :get, :class => "btn btn-success" %>
<% end %>
